{% extends 'frontend/base.html' %}

{% load static %}

{% block title %}
About us
{% endblock %}

{% block content %}
        
        <!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>About Us</h2>
            <ul>
                <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> About Us</li>
            </ul>
        </div>
    </div>
</div>
   
   
   
    <!-- ################# About Us Starts Here#######################--->

<section class="about-us container-fluid">
    <div class="container">
        <div class="row">
             <div class="col-md-4">
                <img src="{% static 'frontend/assets/images/about.webp' %}" alt="">
            </div>
            <div class="col-md-8">
                <h3>About Shine Dental Clinic</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis posuere est sed placerat. In est lorem, pellentesque ut auctor in, placerat vitae ante. Nam consequat posuere lectus a tempus. Nam vel dolor eleifend metus laoreet cursus. Ut eget tempor metus, quis consectetur erat. Sed at commodo justo, volutpat consectetur eros. Etiam dignissim volutpat quam, vitae feugiat augue mollis et. Phasellus id velit porttitor, vulputate dolor sed, feugiat nulla. Nulla facilisi. Aenean vel tempor lectus. Cras ut malesuada mauris. Mauris a nisi lorem. Morbi in imperdiet risus, a fringilla turpis. Ut gravida viverra lectus vel egestas.</p>
                <p>Cras vel mi laoreet erat finibus bibendum et a augue. Fusce dignissim, odio nec accumsan pharetra, urna mi eleifend tortor, vitae placerat diam dolor eu felis. Vivamus et nisi ac tellus aliquam aliquam. Nunc id tristique massa. Duis consequat justo id risus posuere, vel ornare justo vulputate. Nullam sollicitudin aliquet fermentum. Aenean ligula tortor, interdum eu turpis</p>
                <div class="row about-count">
                    <div class="col-md-4 countcol">
                        <i class="bi bi-heart-half"></i> <br>
                        <strong>44 Workers</strong>
                    </div>
                    <div class="col-md-4 countcol">
                        <i class="bi bi-emoji-smile"></i> <br>
                        <strong>800+ Patients </strong>
                    </div>
                    <div class="col-md-4 countcol">
                        <i class="bi bi-clock-history"></i> <br>
                        <strong>24 x 7 Ready </strong>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
   
   
     
<!--    Team Member Starts Here   -->
    
    
<section id="teacher" class="team-member pt-5 contaienr-fluid">
        <div class="container">
             <div class="session-title">
                <h2>Our Team</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy eirmod <br> tempor invidunt ut labore et dolore magna aliquyam.</p>
            </div>
             <div class="team-row team row">
              <div class="team-col col-md-3">
                <div class="teamdiv">
                   <div class="image-part">
                        <img src="{% static 'frontend/assets/images/team/d4.jpg' %}" alt="">
                   </div>
                   <div class="detail-part">
                     <h3>Joney James</h3>
                     <span>Team Leader</span>
                     <p>Various versions have evolved over the years,  purpose (injected humour and the like).</p>
                     <div class="social-links">
                        <a href="#" tabindex="-1"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" tabindex="-1"><i class="fab fa-twitter"></i></a>
                        <a href="#" tabindex="-1"><i class="fab fa-google"></i></a>
                        <a href="#" tabindex="-1"><i class="fab fa-linkedin-in"></i></a>
                      </div>
                   </div>
                </div>
              </div>
              <div class=" team-col col-md-3">
                <div class="teamdiv">
                   <div class="image-part">
                        <img src="{% static 'frontend/assets/images/team/d3.jpg' %}" alt="">
                   </div>
                   <div class="detail-part">
                     <h3>James Anderson</h3>
                     <span>Team Leader</span>
                     <p>Various versions have evolved over the years,  on purpose (injected humour and the like).</p>
                     <div class="social-links">
                        <a href="#" tabindex="-1"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" tabindex="-1"><i class="fab fa-twitter"></i></a>
                        <a href="#" tabindex="-1"><i class="fab fa-google"></i></a>
                        <a href="#" tabindex="-1"><i class="fab fa-linkedin-in"></i></a>
                      </div>
                   </div>
                </div>
              </div>
              <div class=" team-col col-md-3">
                <div class="teamdiv">
                   <div class="image-part">
                        <img src="{% static 'frontend/assets/images/team/d2.jpg' %}" alt="">
                   </div>
                   <div class="detail-part">
                     <h3>James Anderson</h3>
                     <span>Team Leader</span>
                     <p>Various versions have evolved over the years,  on purpose (injected humour and the like).</p>
                     <div class="social-links">
                        <a href="#" tabindex="-1"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" tabindex="-1"><i class="fab fa-twitter"></i></a>
                        <a href="#" tabindex="-1"><i class="fab fa-google"></i></a>
                        <a href="#" tabindex="-1"><i class="fab fa-linkedin-in"></i></a>
                      </div>
                   </div>
                </div>
              </div>
               <div class=" team-col col-md-3">
                <div class="teamdiv">
                   <div class="image-part">
                        <img src="{% static 'frontend/assets/images/team/d1.jpg' %}" alt="">
                   </div>
                   <div class="detail-part">
                     <h3>James Anderson</h3>
                     <span>Team Leader</span>
                     <p>Various versions have evolved over the years,  on purpose (injected humour and the like).</p>
                     <div class="social-links">
                        <a href="#" tabindex="-1"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" tabindex="-1"><i class="fab fa-twitter"></i></a>
                        <a href="#" tabindex="-1"><i class="fab fa-google"></i></a>
                        <a href="#" tabindex="-1"><i class="fab fa-linkedin-in"></i></a>
                      </div>
                   </div>
                </div>
              </div>
            </div>
        </div>
 </section>  
    
    
{% endblock %}