
{% extends 'frontend/base.html' %}

{% load static %}

{% block title %}
Logout
{% endblock %}

{% block content %}
        
        <!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Logout</h2>
            <ul>
                <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> Logout</li>
            </ul>
        </div>
    </div>
</div>
   
<!-- ################# Register Starts Here#######################--->

<div class="container" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
            <div class="mb-4">
               Are you sure you want to logout <a href="{% url 'frontend:custom_logout' %}" class="btn btn-primary">Yes</a> or <a href="{% url 'home' %}" class="btn btn-danger">No</a>
                
            </div>
           </div>
    </div>
</div>

</div>
{% endblock %}
   
