
{% extends 'frontend/base.html' %}

{% load static %}

{% block title %}
Login
{% endblock %}

{% block content %}
        
        <!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Login</h2>
            <ul>
                <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> Login</li>
            </ul>
        </div>
    </div>
</div>
   
<!-- ################# Register Starts Here#######################--->
{% if messages %}
  {% for mes in messages %}
    <div class="alert alert-success">{{mes}}</div>
    {% endfor %}
  {% endif %}

  
<div class="container">
  <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
          <div class="mb-4">
             
              <form method="post" action="#" id="CustomerLoginForm" accept-charset="UTF-8" class="contact-form">
                {% csrf_token%}
                              
                               
                <!-- {% for field in form %}  
                
                  {{ field.label_tag }}  
                  {{ field }}  
                  {% if field.help_text %}  
                    <small style="display: none ">{{ field.help_text }}</small>  
                  {% endif %}  
                  {% for error in field.errors %}  
                    <div style="color: red;"></div>  
                  {% endfor %}  
                 
                {% endfor %}
                 -->
                 <table class="table table-boredered">
                    <tr>
                      {{ form.as_table }}
                    </tr>
                 </table>
              <div class="row">
                <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                    <input type="submit" class="btn mb-3 btn btn-primary" value="Login">
                </div>
             </div>

             <p>
              <small>
               Don’t have an account <a href="{% url 'frontend:register' %}" class="btn btn-info">Register</a>
              </small>
              <small>
                <a href="{% url 'frontend:password_reset' %}" class="btn btn-info">Forgot Password</a>
               </small>
          </p>	
          
              
           </form>
          </div>
         </div>
  </div>
</div>

</div>
{% endblock %}
   
